# See https://help.github.com/articles/dealing-with-line-endings

# Auto detect text files and perform LF normalization
* text=auto

# Committed text files that are stored with LF and converted to native line endings on checkout.
*.bib          text
*.csv          text
*.f            text
*.inc          text
*.kml          text
*.md           text
*.R            text
*.Rd           text
*.Rmd          text
*.Rnw          text
*.tex          text
*.txt          text
*.xml          text
.gitattributes text
.gitignore     text
.Rbuildignore  text
inst/CITATION  text
DESCRIPTION    text
LICENSE.note   text
NAMESPACE      text
NEWS           text

# Text files that should always have LF line endings on checkout.
src/Makevars text eol=lf

# Files that are binary and should not be modified.
*.exe binary
*.pdf binary
*.rda binary
*.tif binary
*.zip binary
